<h2>Programm</h2>

<div class="filter_box">
    <div class="filter_box_background">
        <h2 style="color:White">Genreauswahl</h2>
        <br>
        <select id="genre" (change)="applyGenres()">
            <option value="">None</option>
            <option value="Action">Action</option>
            <option value="Animation">Animation</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Komödie">Komödie</option>
            <option value="Science Fiction">Science Fiction</option>
            <option value="Thriller">Thriller</option>

        </select>
    </div>
</div>

<div class="parent">
    <div  *ngFor="let movie of movies">
        <a  routerLink="/detail/{{movie.id}}" class="child">
            <img src="\assets\images\{{movie.imageName}}">
        </a>
    <div>
</div>