<h2>Programm</h2>

<div class="filter_box">
    <div class="filter_box_background">
        <h2 style="color:White">Genreauswahl</h2>
        <br>
        <select id="genre" (change)="applyGenres()">
            <option value="">None</option>
            <option value="Action">Action</option>
            <option value="Horror">Horror</option>
        </select>
    </div>
</div>

<div class="parent">
    <div  *ngFor="let movie of movies">
        <a  div *ngIf="compairGenre(movie.genre)" routerLink="/detail/{{movie.id}}" class="child">
            {{movie.title}}
            <img src="\assets\images\{{movie.imageName}}">
        </a>
    <div>
</div>