<h2>Programm</h2>

<div class="filter_box">
    <div class="filter_box_background">
        <h2 style="color:White">Genreauswahl</h2>
        <br>
        <select id="genre" (change)="applyGenres()">
            <option value="none">None</option>
            <option value="action">Action</option>
            <option value="horror">Horror</option>
        </select>
    </div>
</div>

<div class="parent">
    <a *ngFor="let movie of movies" routerLink="/detail/{{movie.id}}" class="child">
        {{movie.title}}
        <img src="\assets\images\{{movie.imageName}}">
    </a>
</div>