<div fxLayoutAlign ="center center" fxFlexFill class="main-div">

    <mat-card fxFlex="30">
        <mat-toolbar color="primary" fxLayoutAlign="left center">Registrieren</mat-toolbar>

        <form fxLayoutAlign="stretch" fxLayout="column" class="registration-form">

        
          <mat-form-field>
            <input [(ngModel)]="enteredFirstName" name="enteredFirstName" matInput placeholder="Vorname">
          </mat-form-field>

          <mat-form-field>
            <input [(ngModel)]="enteredName" name="enteredName" matInput placeholder="Nachname">
          </mat-form-field>

          <mat-form-field>
            <input [(ngModel)]="selectedDate" name="selectedDate" matInput [matDatepicker]="picker" placeholder="Geburtstag">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input [(ngModel)]="enteredEmail" name="enteredEmail" matInput placeholder="Email">
          </mat-form-field>

          <mat-form-field>
            <input [(ngModel)]="enteredPassword" name="enteredPassword" matInput placeholder="Passwort">
          </mat-form-field>

       
          <mat-form-field>
            <input  [(ngModel)]="enteredPassword" name="enteredPassword" matInput placeholder="Passwort wiederholen">
          </mat-form-field>

        <mat-checkbox> Ich habe die <a href="https://dsgvo-gesetz.de/">AGB</a> gelesen und akzeptiere diese. </mat-checkbox>

    </form>

        <mat-toolbar color="primary"><button (click)="onPressAddUser()" mat-raised-button type="submit" class="registration-button" >Jetzt registrieren</button></mat-toolbar>



    </mat-card>
  </div>
