#main{
    width: 80%;
    height: 100%;
    margin: auto;
    overflow-x: scroll;

    background-color: rgb(50, 0, 0);
}
td.mat-column-Genre {
  padding-right: 8px;
}
#table{
    color:  rgb(202, 202, 202);
    width: 2500px;
    height: 90%;


}
.mat-row .mat-cell {
    border-top: 1px solid grey;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }