<body>
  <div id="movieDetails">
<app-new-movie></app-new-movie>

  </div>
  <div id="eventDetails">
    <div *ngFor="let movieEventDay of movieEventsPerDay">
      <table *ngFor="let movieEvent of movieEventDay">
          <ng-container matColumnDef="title" sticky>
              <td> {{movieEvent.id}}</td>
              <td> Saal {{movieEvent.roomId}}</td>
              <td> {{movieEvent.time}}</td>
              <td> {{movieEvent.date}}</td>
          </ng-container>
      </table>
    </div>
    
    <form class="example-form" style="padding-top: 5%">
        
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>event ID</mat-label>
          <input matInput id="eventId">
        </mat-form-field></td>
  
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>movie ID</mat-label>
          <input matInput id="movieId">
        </mat-form-field></td>
      </tr></table>
    
      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>room id</mat-label>
          <textarea id="roomId" matInput></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>date</mat-label>
          <textarea matInput id="date"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>time</mat-label>
          <textarea matInput id="time"></textarea>
        </mat-form-field>
        <button (click)=getInput()>
          <mat-icon>update</mat-icon>
        </button>
        <button>
          <mat-icon>create</mat-icon>
        </button>
        <button>
          <mat-icon>delete_forever</mat-icon>
        </button>
      </p>
    </form>
  </div>
</body>

    

