<body>
  <div id="movieDetails">
<app-new-movie></app-new-movie>

  </div>
  <div id="eventDetails">
    <div *ngFor="let movieEventDay of movieEventsPerDay">
      <table *ngFor="let movieEvent of movieEventDay">
          <ng-container matColumnDef="title" sticky>
              <td> {{movieEvent.id}}</td>
              <td> Saal {{movieEvent.roomId}}</td>
              <td> {{movieEvent.time}}</td>
              <td> {{movieEvent.date}}</td>
          </ng-container>
      </table>
    </div>
    
    <form class="example-form" style="padding-top: 5%">
        
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>event ID</mat-label>
          <input [(ngModel)]="inputEventid" matInput name="eventId">
        </mat-form-field></td>
  
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>movie ID</mat-label>
          <input [(ngModel)]="inputMovieid" matInput name="moviId">
        </mat-form-field></td>
      </tr></table>
    
      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label type="number">room id</mat-label>
          <textarea [(ngModel)]="inputRoomid" matInput name="roomId"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>date</mat-label>
          <textarea [(ngModel)]="inputDate" matInput name="date"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>hours</mat-label>
          <textarea [(ngModel)]="inputHours" matInput name="hours"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>minutes</mat-label>
          <textarea [(ngModel)]="inputMinutes" matInput name="minutes"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>weekday</mat-label>
          <textarea [(ngModel)]="inputWeekDay" matInput name="weekday"></textarea>
        </mat-form-field>
        <button (click)=onPressUpdate()>
          <mat-icon>update</mat-icon>
        </button>
        <button (click)=onPressCreate()>
          <mat-icon>create</mat-icon>
        </button>
        <button (click)=onPressDelete()>
          <mat-icon>delete_forever</mat-icon>
        </button>
      </p>
    </form>
  </div>
</body>

    

