<body *ngIf="movie" class="detail">
    <div class="container">
        <div class="myheader">
            <a class="titleHeader"> {{movie.title}} </a>
        </div>
        <div class="rows">
            <div>
                <img  src="\assets\images\{{movie.imageName}}"> 
            </div>
            <div class="box">
                <h2 class="object"> Filmhandlung </h2>
                <p class="object" class="discription"> hier kommt die movie.description hin</p>
            </div>
        </div>
        <div class="rows" >
            <div class="box">
                <h2 class="object">{{movie.title | uppercase}} Details</h2>
                <p class="object"> id: {{movie.id}} <br>
                    length: {{movie.duration}} <br>
                    studio: hier kommt movie.studio hin <br>
                </p>
            </div>
            <div class="box" >
                <h2 class="object"> Cast & Crew </h2>
                <p class="object"> hier kommt movie.cast hin </p>
            </div>
            <div class="box">
                <h2 class="object"> Trailer</h2>
                <p class="object"> Hier wird mal der Trailer sein</p>
            </div>
        </div>
        <footer >
            <div class="header">
                <div>
                    <h2> {{movie.title}}</h2>
                    <p> Hier stehen gleich die Infos dazu</p>
                </div>
            </div>

            <div class="timeSelectionRow">
                <div class="timeRowBox" *ngFor="let movieEventDay of movieEventsPerDay">
                    {{movieEventDay[0].date}}
                    <br>
                    <br>
                    <div class="movieEvents" *ngFor="let movieEvent of movieEventDay">
                        {{movieEvent.time}}
                    </div>
                </div>
            </div>

        </footer>
    </div>
</body>

<h2>Vorstellungen</h2>
<button (click)="getMovieEvents(movie)">Laden</button>
<button (click)="loadMovieEventsperDay()">Laden pro Tag</button>

<div *ngFor="let movieEvent of movieEvents" >
    <h3> {{movieEvent.date}} {{movieEvent.time}} </h3>
</div>
<ul>
    <li *ngFor="let movieEvent of movieEvents">
            {{movieEvent.date}} {{movieEvent.time}}
    </li>
</ul>


<button type="button" (click)="goBack()">zurück</button>