* {
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  text-align: center;
}
.section{
  float:left;
  width:100%;
}
.section .content1{
	float:left;
	width: 100%;
}
.section .content1 .card{
  width:20%;
  float: left;
  padding:0px 200px;
  }
.box{
  background-color:gray;
  }
  .section .content2{
    float:left;
    width: 100%;
  }
  .section .content2 .card{
    width:20%;
    float: left;
    padding:0px 125px;
    }

p{
  margin-top: 0;
}
h2{
  margin-bottom: 0;
}
img{
  width: 40vmin;
  height: 400px;
  /*padding: 5vmin;*/
}



