<body *ngIf="movie" class="detail">
    <div class="container">
        <div class="myheader">
            <a class="titleHeader"> {{movie.title}} </a>
        </div>
        <div class="rows">
            <div>
                <img  src="\assets\images\{{movie.imageName}}"> 
            </div>
            <div class="box">
                <h2 class="object"> Filmhandlung </h2>
                <p class="object" class="description">{{movie.description}}</p>
            </div>
        </div>
        <div class="rows" >
            <div class="box">
                <h2 class="object">{{movie.title | uppercase}} Details</h2>
                <p class="object"> id: {{movie.id}} <br>
                    length: {{movie.duration}} <br>
                    studio: hier kommt {{movie.duration}} hin <br>
                </p>
            </div>
            <div class="box" >
                <h2 class="object"> Cast & Crew </h2>
                <p class="object"> hier kommt movie.cast hin </p>
            </div>
            <div class="box">
                <h2 class="object"> Trailer</h2>
                <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/JfVOs4VSpmA">
                </iframe>
            </div>
        </div>
        <footer >

            <div class="header">
                <div>
                    <h2> {{movie.title}}</h2>
                    <p> Hier stehen gleich die Infos dazu</p>
                </div>
            </div>


            <div class="timeSelectionRow">
                <div class="timeRowBox" *ngFor="let movieEventDay of movieEventsPerDay">
                    {{movieEventDay[0].date}}
                    <br>
                    <br>
                    <a routerLink="/booking/{{movieEvent.id}}" class="movieEvents" *ngFor="let movieEvent of movieEventDay">
                        {{movieEvent.time}}
                        Saal {{movieEvent.roomId}}
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>

