<body>
    <div id="first-left">
        <div id="left-top">
            <div id="location">

            </div>
            <div id="left-top-right">
                <div id="communication">

                </div>
                <div id="opening-hours">

                </div>
            </div>

        </div>
        <div id="left-bottom">

        </div>

    </div>
    <div id="first-right">
        <!--<mat-card>
            <mat-card-title>Galerie</mat-card-title>

        </mat-card>-->
    </div>
</body>