<div class="card-anf">
    <h1>Anfahrt</h1>
    <div class="text-links">
        <p>Adresse:</p>
    </div>
    <div class="text-rechts">
        <p>Donaustraße 34</p>
        <p>68199 Mannheim</p>
    </div>
    <div class="extrawurst">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2593.8063329900456!2d8.50208781569542!3d49.450377279349944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4797c9720c622c21%3A0xcb8f720857cb35cd!2sDonaustra%C3%9Fe%2034%2C%2068199%20Mannheim!5e0!3m2!1sde!2sde!4v1665318176402!5m2!1sde!2sde" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<div class="card-open">
    <h1>Öffnugszeiten</h1>
    <div class="text-links">
        <p>Mo - Fr:</p>
        <p>Sa + So:</p>
        <p>Feiertag:</p>
    </div>
    <div class="text-rechts">
        <p>12:00 - 22:00</p>
        <p>14:00 - 24:00</p>
        <p>15:00 - 20:00</p>
    </div>
</div>
<div class="card-con">
    <h1>Kontakt</h1>
    <div class="text-links">
        <p>E-Mail:</p>
        <p>Telefon:</p>
    </div>
    <div class="text-rechts">
        <p>DasKino@email.com</p>
        <p>02221/ 123456</p>
    </div>
</div>
<div class="card-gal">
    <h1>Galerie</h1>
    <img src="assets/images/img12.jpg">
</div>
<div class="card-pri">
    <h1>Preis Übersicht</h1>
</div>