#first-left{
    float: left;
    width: 60%;
    height: 100%;
}
#first-right{
    float: right;
    width: 38.5%;
    height: 95.5%;
    margin-right: 1.5%;
    margin-top: 1.5%;
    overflow: hidden;
}
#galerie-top{
    height: 40%;
}
#galerie-bottom{
    height: 60%;
}
#left-top{
    height: 60%;
}
#left-bottom{
    height: 35%;
    width: 95.5%;
    margin-top: 0%;
    margin-left: 2%;
}
#location{
    width: 48%;
    height: 83%;
    float: left;
    margin-top: 2.5%;
    margin-left: 2%;
}
#left-top-right{
    width: 50%;
    height: 100%;
    float: right;
}
#opening-hours{
    height: 40%;
    width: 90%;
    margin: 5%;
}
#contact{
    height: 33%;
    width: 90%;
    margin: 5%;
    margin-top: 10%;
}

.card{
    width: auto;
    height: 100%;
    background-color: rgb(70, 0, 0);
    color: rgb(202, 202, 202);
}

.map{
    width: 100%;
    margin-top: 0%;
}

.text-left{
    float: left;
    margin-left: 20px;
}
.text-right{
    float: right;
    margin-right: 20px;
}
.text{
    margin-top: 5%;
}
.design-galerie1{    
    width: 100%;
    height: 50%;
    margin-left: 5%;
    margin-top: 5%;
}
.galerie-bottom-right{
    float: right;
    width: 43%;
    height: 40%;
    overflow: hidden;
    margin-right: 5%;
}
.galerie-bottom-left{
    float: left;
    width: 43%;
    height: 40%;
    overflow: hidden;
    margin-left: 5%;
    margin-bottom: 2%;
}
.preistabelle{
    margin-top: 3%;
    margin-left: 5%;
}