#filmcover{
    float: left;
    height: 60%;
    width: 20%;
    margin-top: 7%;
    margin-left: 15%;
}
#bestellübersicht{
    float: right;
    height: auto;
    width: 49%;
    margin-top: 7%;
    margin-right: 15%;
}
#bestellinfos{
    float: left;
    height: 90%;
    width: 100%;
}
#containerRight{
    float: right;
    height: 90%;
    width: 40%;
}
.bestellübersicht-title{
    font-size: 200%;
}
.outro{
    margin-top: 42%;
    margin-left: 30%;
    margin-bottom: 1%;
}
.inner-card{
    width: auto;
    height: 390px;
    background-color: rgb(60, 0, 0);
    color: rgb(202, 202, 202);
}
#filminfobox{
    float: left;
    width: 50%;
    height: 100%;
}
#buchungsinfo{
margin-top: 20%;
}
#übersicht{
margin-top: 60%;
}
.card{
    width: auto;
    height: auto;
    background-color: rgb(70, 0, 0);
    color: rgb(202, 202, 202);
    overflow: hidden;
}
.img{
   width: 100%;
}
.text-left{
    float: left;
    margin-left: 20px;
}
.text-right{
    float: right;
    margin-right: 90px;
}
.button{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
#button-position{
    float: right;
    margin-top: 30%;
    margin-right: 5%;
}