#filmcover{
    float: left;
    height: 60%;
    width: 20%;
    margin-top: 7%;
    margin-left: 5%;
}
#bestellübersicht{
    float: right;
    height: 60%;
    width: 69%;
    margin-top: 7%;
    margin-right: 5%;
}
#bestellinfos{
    float: left;
    height: 90%;
    width: 60%;
}
#containerRight{
    float: right;
    height: 90%;
    width: 40%;
}
.bestellübersicht-title{
    font-size: 200%;
}
.outro{
    margin-top: 42%;
    margin-left: 35%;
}
.inner-card{
    width: auto;
    height: 390px;
    background-color: rgb(60, 0, 0);
    color: rgb(202, 202, 202);
}
#filminfobox{
    float: left;
    width: 50%;
    height: 100%;
}
#buchungsinfo{
margin-top: 40%;
}
#übersicht{
margin-top: 80%;
}
.card{
    width: auto;
    height: 100%;
    background-color: rgb(70, 0, 0);
    color: rgb(202, 202, 202);
    overflow: hidden;
}
.img{
   width: 100%;
}
.text-left{
    float: left;
    margin-left: 20px;
}
.text-right{
    float: right;
    margin-right: 20px;
}
.button{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}