<body class="all">
    <div id="filmcover">
        <mat-card class="card">
            <mat-card-content>
                <img src="\assets\images\{{this.movie?.imageName}}">
            </mat-card-content>
        </mat-card>
    </div>
    <div id="bestellübersicht">
            <mat-card class="card">
                <diV id="bestellinfos">
                <mat-card-header>
                    <mat-card-title class="bestellübersicht-title">Bestellübersicht:</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-card class="inner-card">
                        <div id="filminfobox">
                        <div id="filminfo">
                            <mat-card-title>Filminformationen:</mat-card-title>
                            <mat-card-content>
                                <div class="text-left">
                                    <p>Film:</p>
                                    <p>Saal:</p>
                                </div>
                                <div class="text-right">
                                    <p>{{currentBookingInfo?.movieTitle}}</p>
                                    <p>{{movieEventInfo?.roomId}}</p>
                                </div>
                            </mat-card-content>
                        </div>
                        <div id="buchungsinfo">
                            <mat-card-content>
                                <div class="text-left">
                                    <p>Datum:</p>
                                    <p>Uhrzeit:</p>
                                    <p>Plätze:</p>
                                </div>
                                <div class="text-right">
                                    <p>{{currentBookingInfo?.date}}</p>
                                    <p>{{currentBookingInfo?.time}}</p>
                                    <p class="selectedSeat" *ngFor="let ticket of bookingInfo?.tickets">
                                        {{ticket.row}} {{ticket.numberInRow}}
                                    </p>
                                </div>
                            </mat-card-content>
                        </div>
                        <div id="übersicht">
                            <mat-card-title>Übersicht:</mat-card-title>
                            <mat-card-content>
                                <div class="text-left">
                                    <p class="selectedSeat" *ngFor="let ticket of bookingInfo?.tickets">
                                        Regulär: {{ticket.defaultPrice}},00€ 
                                    </p>
                                </div>
                                <div class="text-right">
                                
                                </div>
                            </mat-card-content>
                        </div>
                        </div>
                        <div id="Kundeninfobox">
                            <mat-card-content>
                                <mat-card-title>Kundeninformationen:</mat-card-title>
                                <div class="text-left">
                                    <p>Name:</p>
                                    <p>E-Mail:</p>
                                </div>
                                <div class="text-right">
                                    <p>{{currentuser.lastName}}, {{currentuser.firstName}}</p>
                                    <p>{{currentuser.mailAdress}}</p>
                                </div>
                            </mat-card-content>
                        </div>
                    </mat-card>
                </mat-card-content>
            </diV>
            <div id="containerRight">

                    <div *ngIf="link=='overview' then elseBlock else thenBlock"></div><!-- Hier habe ich die beiden Blöcke vorerst getauscht -->
                    <ng-template #thenBlock>
                        <button id="" title="bestätigungsbutton" routerLink="/dashboard" mat-raised-button > Weiter zur Startseite </button>
                    </ng-template>
                    <ng-template #elseBlock>
                        <div id="qrCode">
                        Hier QR Code
                    </div>
                    </ng-template>

            </div>
            <mat-card-footer class="outro">
                <!--<mat-card-title class="bestellübersicht-title">Viel Spaß mit dem Film!</mat-card-title>-->
                <mat-card-title class="bestellübersicht-title">Wow, dass ist eine gute Wahl!</mat-card-title>
            </mat-card-footer>
            </mat-card>
    </div>
</body>
