#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container {
    background-color: rgb(50, 0, 0);
    height: 33%;
    width: 33%;
    min-width: 300px;
}
.form {
    height: 100%
}
.formField {
    background-color: rgb(70, 0, 0);
    color: rgb(202, 202, 202);
    font-size: large;
    width: 100%;
}
mat-hint {
    color: rgb(202, 202, 202) !important;
}
::ng-deep .mat-form-field-label {
    color: rgb(202, 202, 202) !important;
}
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: rgb(202, 202, 202) !important;
}
::ng-deep .mat-select-value {
    color: rgb(202, 202, 202) !important;
}
#firstContainer mat-form-field {
    height: 33%;
}
#secondContainer mat-form-field {
    height: 50%;
}
#secondContainer textarea {
    height: 70%;
}
#fifthContainer {
    width: 59% !important;
}
#fourthContainer {
    width: 40%;
    min-height: 33%;
}
#fifthContainer mat-form-field {
    height: 100%;
}
#thirdContainer mat-form-field {
    height: 33%;
}
#sixthContainer {
    display: flex;
    justify-content: center;
    max-width: 20%;
    min-width: unset;
    height: 5%;
    align-items: center;
}
#sixthContainer button {
    width: 100%;
    height: 100%;
    text-align: center;
}
#sixthContainer button:hover {
    cursor: pointer;
    background-color: #878787;
}
.flexform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
img {
    width: 100%;
}
input {
    color: rgb(202, 202, 202)
}
#LinkInput{
    height: 30%;
    margin-bottom: 30px;
}
#fileLabel{
    color: rgb(202, 202, 202);
    height: 20%;
    width: 100%;
}
#fileInput{
    width: 100%;
    margin-top: 30px;
}
.errorPart{
    height: 20%;
    background-color: rgb(50, 0, 0);
    color: rgb(202, 202, 202) !important;
}
#errorPartButton{
    background-color: rgb(70, 0, 0) !important;
    margin-top: 20px;
    height: 10%;
    width: 20%;
    margin-left: 40%;
    color: rgb(202, 202, 202) !important;
    font-size: 50;
    text-align: center;


}
