<body>
    <div id="main">
        <div class="container" id="firstContainer">
            <form>
                <mat-form-field class="formField" appearance="fill">
                <mat-label> Titel </mat-label>
                <textarea matInput placeholder="Z.B. Batman"></textarea>
              </mat-form-field>
            </form>
        </div>
        <div class="container" id="secondContainer">

        </div>
        <div class="container" id="thridContainer">

        </div>
        <div class="container" id="fourthContainer">

        </div>
        <div class="container" id="fourthContainer">

        </div>
        <div class="container" id="fourthContainer">

        </div>
        <div class="container" id="fourthContainer">

        </div>
    </div>
</body>
