button{
    width: 100%;
    height: 100%;
}

.seat{
    width: 100%;
    aspect-ratio: 1;
}

.free{
    background-color: rgb(200, 200, 200);
}

.occupied{
    background-color: rgb(40, 40, 40);
}

.reserved{
    background-color: blue;
}

.selected{
    background-color: rgb(100, 0, 0);
}