button{
    width: 100%;
}

.seat{
    width: 6%;
    aspect-ratio: 1;
}

.free{
    background-color: green;
}

.occupied{
    background-color: red;
}

.reserved{
    background-color: blue;
}

.selected{
    background-color: yellow;
}