/* You can add global styles to this file, and also import other style files */
/* Uncomment to set background image*/
html {

        background-image: url('/assets/images/background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;

}
