.seats{
    color: white;
    align-items: center;
}

.seatManagment{
    height: 60%;
}

.seatSelection{
    background-color: rgb(10, 10, 10);
    width: 70%;
    float: left;
    height: 100%;
    color: white;
}

.selectedSeats{
    background-color: rgb(222, 222, 222);
    color: black;
    width: 30%;
    float: right;
    height: 100%;
}


.seatsInRow{
    height: 100px;
}

.rowLabel{
    display: inline-block;
}

.seat{
    display: inline-block;
    margin: 1%;
}

/*
.seat{
    display: inline-block;
    margin: 1%;
    width: 10%;
    height: 100%;
    font-size: 20px;
    text-align: center;
}
*/

.selectedSeat{
    color: white
}

hr.solid {
    border-top: 3px solid rgb(255, 255, 255);
    width: 80%;
}


.leinwandText{
    text-align: center;
}