<h2 *ngIf="bookingToConfirm == null">Sitze</h2>
<h2 *ngIf="bookingToConfirm == null">Vorstellung {{movieEvent?.id}} am {{movieEvent?.date}} um {{movieEvent?.time}}<br>
    Saal: {{movieEvent?.roomId}}</h2>
<button *ngIf="bookingToConfirm == null" mat-flat-button (click)="clearSelectedSeats()">clear selected seats (admin feature)</button>

<div class="seatManagment" *ngIf="bookingToConfirm == null">
    <div class="seatSelection">
        <h1>Bitte wähle deine Sitze</h1>
        <hr class="solid">
        <h2 class="leinwandText">Leinwand</h2>
        <ul class="seats">
            <div class="row" *ngFor="let row of ticketsByRow">
                
                <div class="seatsInRow">
                    <div class="rowLabel">{{row[0].row}}</div>
                    <app-seat class="seat" *ngFor="let seat of row" [seat]="seat" (click)="ticketClicked(seat)">
                    </app-seat>
        
                </div>
            </div>
        </ul>
    </div>
    
    <div class="selectedSeats">
        <h2>ausgewählte Sitze</h2>
            <div class="selectedSeat" *ngFor="let ticket of selectedTickets">
                {{ticket.row}} {{ticket.numberInRow}} Regulär: {{ticket.defaultPrice}},00€
            </div>
            <h1 *ngIf="priceSum > 0" class="priceSum">Gesamtbetrag: {{priceSum}},00€</h1>
        <button mat-flat-button *ngIf="(selectedTickets.length > 0) && (user.mailAdress.length > 2)" (click)="bookSeatsClicked()" class="bookButton">Sitze buchen</button>
    </div>
</div>

<div class="confirmation" *ngIf="bookingToConfirm != null">
    <app-confirm [bookingInfo]="bookingToConfirm" [movieEventInfo]="movieEvent"></app-confirm>
</div>
