<h2>Sitze</h2>
<ul class="seats">
    <div class="row" *ngFor="let row of seats">
        <div>{{row[0].row}}</div>
        <div class="seatsInRow">

            <div class="seat" *ngFor="let seat of row">

                <div class="freeSeat" *ngIf="!seat.isOccupied">
                    {{seat.row}} {{seat.numberInRow}} besetzt: {{seat.isOccupied}}
                </div>

                <div class="occupiedSeat" *ngIf="seat.isOccupied">
                    {{seat.row}} {{seat.numberInRow}} besetzt: {{seat.isOccupied}}
                </div>
                
            </div>
        </div>
    </div>
</ul>